*{
    text-decoration: none;
    
}
html{
    scroll-behavior: smooth;
}

body {
   
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #1a1a2e, #2d3a4b);
}

header, section, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    margin-top: 20px;
}

header h1 {
    color: #333;
    font-size: 36px;
}

header p {
    color: #666;
}

section h2 {
    color: #333;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 8px;
}

address {
    font-style: normal;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Adicionando regras de mídia para responsividade */
@media only screen and (max-width: 600px) {
    header, section, footer {
        padding: 10px;
    }

    header h1 {
        font-size: 24px;
    }

    section h2 {
        font-size: 20px;
    }

    ul li {
        font-size: 14px;
    }
    
    footer p {
        font-size: 14px;
    }
}

a{
    margin-left: 20%;
    align-items: center;
    text-align: center;
    color: black;
    
    
}

#services:hover{
    transition: 1s;
    color: #000000;
    background-color: #6666667a;




}
#why-choose-us:hover{
    transition: 1s;
    color: #000000;
    background-color:#6666667a;
}
#contact:hover{
    transition: 1s;
    color: #000000;
    background-color:#6666667a;


}
#contact:hover a{
    color: bla;
}

#jez{
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
    text-align: center;
    color: #ccc;
}
/* Restante do seu CSS permanece o mesmo */

/* Restante do seu CSS permanece o mesmo */

/* Restante do seu CSS permanece o mesmo */





.logo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo img {

    border-radius: 15PX;
    width: 900px; /* Ajuste conforme necessário */
    height: 200PX;
    margin-right: 10px;
    transition: 0.9s;
}

.logo img {
    width: 900px; 
    height: 200;
    margin-right: 10px;
    transition: box-shadow 0.3s ease-in-out; /* Adiciona transição para suavizar a mudança de sombra */
}


.logo img:hover {
    box-shadow: 0 0 10px rgb(0, 0, 0); /* Ajuste conforme necessário */
}
